{% extends "@home/layout.html.twig" %}

{% block content %}
    <div class="row">
        <h1>Settings</h1>

        {% for template in templates %}
            {{ template|raw }}
        {% else %}
            No settings registered.
        {% endfor %}
    </div>
{% endblock %}
