{% extends "@settings/layout.html.twig" %}

{% form_theme form "@form/settings.html.twig" %}

{% block settings %}
    <h2>Freebox settings</h2>

    <form id="form-freebox-settings" action="{{ path('settings_freebox_update') }}" method="post">
        {{ form_widget(form) }}

        <input id="save-freebox-settings" type="submit" class="button right" value="Save" />
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="/js/settings/freebox.js"></script>
{% endblock %}
