{% extends "@settings/layout.html.twig" %}

{% form_theme form "@form/settings.html.twig" %}

{% block settings %}
    <h2>Tracker settings</h2>

    <form action="{{ path('settings_tracker_update') }}" method="post">
        {{ form_widget(form) }}

        <input class="button right" type="submit" value="Save" />
    </form>
{% endblock %}
