*.DS_Store
vendor/
var/
bin/phpunit
bin/behat
bin/doctrine*
bin/phing
web/css
web/js
web/img
web/bower_components
node_modules
behat.yml
:.vagrant/
config/parameters.php
config/deploy.rb
config/deploy/*.rb
