*.DS_Store
vendor/
var/
bin/phpunit
bin/behat
bin/doctrine*
bin/phing
web/css
web/modernizr.js
node_modules
behat.yml
.vagrant/
config/parameters.php
config/deploy.rb
config/deploy/*.rb
build/
data/provisioning/files/composer-auth.json
docker-compose.yml
