version: '3'
services:
    php:
        image: martialgeek/php:7.1-dev
        volumes:
            - .:/var/www/html
            - warez_archive_path:/downloads/archives
            - /path/to/downloads:/downloads
        links:
            - mysql
            - rabbitmq
            - transmission
    nginx:
        image: nginx:1.11
        volumes:
            - ./docker/nginx-vhost.conf:/etc/nginx/conf.d/default.conf
            - .:/var/www/html
            - warez_archive_path:/data/tmp
        links:
            - php
        ports:
            - 9999:80
    mysql:
        image: mysql:5.7.18
        volumes:
            - warez_db:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_USER: warez
            MYSQL_PASSWORD: warez
            MYSQL_DATABASE: warez
    rabbitmq:
        image: rabbitmq:3.6.9
        volumes:
            - warez_archive_path:/var/lib/rabbitmq
        environment:
            RABBITMQ_DEFAULT_USER: warez
            RABBITMQ_DEFAULT_PASS: warez
            RABBITMQ_DEFAULT_VHOST: warez
    transmission:
        image: linuxserver/transmission
        volumes:
            - /path/to/downlods:/downloads
        environment:
            TZ: Europe/Paris
            PGID: 501
            PUID: 20
        ports:
            - "9091:9091"
volumes:
    warez_db:
    warez_archive_path:
    warez_rabbitmq:
