version: '3'
services:
    php:
        build:
            context: .
            dockerfile: ./docker/Dockerfile-dev-php
        volumes:
            - .:/var/www/html
            - warez_generated_archives:/app/generated-archives
            - /home/warez/data/files:/app/data/files
            - /home/warez/data/torrents:/app/data/files/torrents
            - /home/warez/data/torrents:/downloads
        links:
            - mysql
            - rabbitmq
            - transmission
        environment:
            PHP_GID: 1000
            PHP_UID: 1000
    nginx:
        image: nginx:1.11
        volumes:
            - ./docker/nginx-vhost.conf:/etc/nginx/conf.d/default.conf
            - .:/var/www/html
        links:
            - php
        ports:
            - 9999:80
    mysql:
        image: mysql:5.7.18
        volumes:
            - warez_db:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_USER: warez
            MYSQL_PASSWORD: warez
            MYSQL_DATABASE: warez
        ports:
            - 3310:3306
    rabbitmq:
        image: rabbitmq:3.6.9
        volumes:
            - warez_generated_archives:/var/lib/rabbitmq
        environment:
            RABBITMQ_DEFAULT_USER: warez
            RABBITMQ_DEFAULT_PASS: warez
            RABBITMQ_DEFAULT_VHOST: warez
    transmission:
        image: linuxserver/transmission
        volumes:
            - /home/warez/data/torrents:/downloads
            - /home/warez/data/transmission/config:/config
            - /home/warez/data/transmission/watch:/watch
        environment:
            TZ: Europe/Paris
            PGID: 1000
            PUID: 1000
        ports:
            - "9091:9091"
volumes:
    warez_db:
    warez_generated_archives:
    warez_rabbitmq:
