{% extends "@home/layout.html.twig" %}

{% block content %}
    <h1>Welcome</h1>

    {% if not app.session.get('connected') %}
        <form action="{{ path('login') }}" method="post">
            {{ form_widget(loginForm) }}

            <input id="connect_btn" type="submit" value="Connect" />
        </form>
    {% else %}
        <p>Let's get the party started!</p>

        <div id="profile-status">
            <p>{{ app.session.get('username') }}</p>
        </div>

        <p><a href="{{ path('logout') }}">Logout</a></p>
    {% endif %}

{% endblock %}
