@import "settings";
@import "foundation";
@import "alert";

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 0) and (max-width: 64em) {
  img, form, .button {
    padding: 20px;
  }
  .button {
    margin: 20px;
  }
}

.row {
  max-width: 80rem;
  margin-bottom: 20px;
}

.alert-notice {
  @include w-alert(notice);
}

.alert-error {
  @include w-alert(error);
}

.alert-success {
  @include w-alert(success);
}

.main-content {
  padding: 2em;
}

#tracker-search-result {
  width: 100%;
}

#download-modal-content {
  img {
    width: auto;
  }
}

#torrent-queue {
  border: none;
  width: 100%;
}

.loader {
  background-image: url("/img/loader.gif");
  width: 32px;
  height: 32px;
  display: none;
}

#file-browser-tab {
  width: 100%;
}

.file-browser-file {
  width: 80%;
}
