{% extends "@home/layout.html.twig" %}

{% form_theme formProfile "@form/profile.html.twig" %}

{% block content %}
    <div class="row">
        <h1>Profile</h1>

        <form action="{{ path('user_profile_update') }}" method="post">
            {{ form_widget(formProfile) }}

            <div class="row">
                <div class="small-10">
                    <input class="button right" type="submit" value="Save" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
