{% extends '@home/layout.html.twig' %}

{% block content %}
    <h2>File browser</h2>

    <table id="file-browser-tab">
        <thead>
        <tr>
            <th class="file-browser-file"><a href="#" id="sort-by-filename">File</a></th>
            <th class="file-browser-actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/filesystem/file-browser.js"></script>
{% endblock %}
