{% extends '@home/layout.html.twig' %}

{% block content %}
    <h2>File browser</h2>

    <div id="browser">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/filesystem/file-browser.js"></script>
{% endblock %}
