<?php

return [
    'app_env' => 'dev',
    'app_host' => 'http://127.0.0.1:9999',
    'doctrine_driver' => 'pdo_mysql',
    'doctrine_dbname' => 'warez',
    'doctrine_host' => 'mysql',
    'doctrine_user' => 'warez',
    'doctrine_password' => 'o\KiuUhP8kwdZtd',
    'security_certificate_public' => __DIR__ . '/../data/provisioning/files/public_key.pem',
    'security_certificate_private' => __DIR__ . '/../data/provisioning/files/private_key.pem',
    'upload_adapter' => 'freebox',
    'upload_archive_path' => '/data/tmp',
    'torrent_files_path' => '',
    'transmission_login' => '',
    'transmission_password' => '',
    'transmission_host' => 'transmission',
    'transmission_port' => 9091,
    'transmission_rpc_uri' => '/transmission/rpc',
    'download_dir' => '/downloads',
    'message_queuing_freebox_connection_host' => 'rabbitmq',
    'message_queuing_freebox_connection_port' => 5772,
    'message_queuing_freebox_connection_user' => 'warez',
    'message_queuing_freebox_connection_password' => 'V/7Yy6t75O7Qc8A',
    'message_queuing_freebox_connection_vhost' => 'warez',
    'file_browser_root_path' => '/data/files',
    'tracker_api_url' => 'https://api.t411.ai',
];
