<?php

return [
    'app_env' => 'prod',
    'doctrine_driver' => '',
    'doctrine_dbname' => '',
    'doctrine_host' => '',
    'doctrine_user' => '',
    'doctrine_password' => '',
    'security_encoder_password' => '',
    'security_encoder_salt' => '',
    'torrent_files_path' => '/home/warez/torrents',
    'upload_transport_host' => 'http://mafreebox.freebox.fr',
    'upload_transport_port' => 8888,
    'upload_adapter' => 'freebox',
    'upload_adapter_config' => [
        'app_id' => 'net.warez-manager',
        'app_name' => 'Warez Manager',
        'app_version' => '1.0',
        'device_name' => 'seedbox'
    ]
    'torrent_files_path' => '/home/warez/torrents',
    'transmission_login' => '',
    'transmission_password' => '',
    'transmission_host' => '',
    'transmission_port' => '',
    'transmission_rpc_uri' => '',
];
