<?php

return [
    'doctrine_driver' => '',
    'doctrine_dbname' => '',
    'doctrine_host' => '',
    'doctrine_user' => '',
    'doctrine_password' => '',
    'security_encoder_password' => '',
    'security_encoder_salt' => '',
    'torrent_files_path' => '/home/warez/torrents'
];
