{% extends "@home/layout.html.twig" %}

{% block content %}
<div class="row">
    <h1>Search</h1>

    <div class="row">
        <div class="small-centered">
            <form action="{{ path('tracker_search') }}" method="get" id="tracker-search-form">
                {{ form_widget(searchForm) }}

                <input type="submit" class="button" value="Search" />
            </form>
        </div>
    </div>

    <div id="tracker-search-result-container">

    </div>

</div>

<div id="download-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Add torrent to the queue...</h2>
    <p id="download-modal-content">Your download will begin soon... <img src="/img/loader.gif" alt="loader" /></p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/tracker/search.js"></script>
{% endblock %}
